<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring
        http://mybatis.org/schema/mybatis-spring-1.2.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    <!-- 数据源 -->
    <context:property-placeholder location="classpath:dbconfig.properties"/>
    <bean id="dataSource"
          class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!-- 事务管理器 -->
    <bean id="dataSourceTransactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 基于注解的事务管理 -->
    <tx:annotation-driven
            transaction-manager="dataSourceTransactionManager"/>
    <!-- 配置 SqlSessionFactoryBean -->
    <bean id="sqlSessionFactoryBean" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- mybatis的全局配置文件-->
        <property name="configLocation" value="classpath:mybatis.xml"/>
        <!-- 别名处理 -->
        <property name="typeAliasesPackage" value="com.gg.mp_cg.beans"/>
        <property name="globalConfig" ref="configuration"/>
        <property name="plugins">
            <list>
                <bean class="com.baomidou.mybatisplus.plugins.PaginationInterceptor"/>
            </list>
        </property>
    </bean>
    <!--    mybatisPlus的全局配置文件-->
    <bean id="configuration" class="com.baomidou.mybatisplus.entity.GlobalConfiguration">
        <!--    驼峰命名法，默认是true-->
        <property name="dbColumnUnderline" value="true"/>
        <!--     配置默认主键策略，0 表示自增，对javaBean中的id属性起作用-->
        <property name="idType" value="0"/>
        <property name="sqlInjector">
<!--            &lt;!&ndash; 定义自定义全局注入器&ndash;&gt;-->
<!--            <bean class="com.gg.mp_cg.sqlInjector.MySqlInjector"/>-->
            <bean class="com.baomidou.mybatisplus.mapper.LogicSqlInjector"/>
        </property>
        <!-- 这个必须有，不然逻辑删除会不起作用-->
        <property name="logicDeleteValue" value="-1"/>
        <property name="logicNotDeleteValue" value="1"/>
        <!-- 自动填充-->
        <property name="metaObjectHandler">
            <bean class="com.gg.mp_cg.MyMetaObjectHandle"/>
        </property>
    </bean>
    <!-- 配置 mybatis 扫描 mapper 接口的路径  -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.gg.mp_cg.mapper"/>
    </bean>
    <!-- 扫描-->
    <context:component-scan base-package="com.gg"/>
</beans>